<!-- navbar.component.html -->
<nav class="bg-slate-900 p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-lg font-bold">
      <a routerLink="/" class="hover:text-gray-300">Inicio</a>
    </div>
    <ul class="flex space-x-6">
      <li>
        <a routerLink="/hotels" class="text-white hover:text-gray-300 transition-colors duration-300">Hoteles</a>
      </li>
      <li>
        <a routerLink="/flights" class="text-white hover:text-gray-300 transition-colors duration-300">Vuelos</a>
      </li>
    </ul>
  </div>
</nav>
